.row
  .column.small-12
    %h5 Error processing #{File.basename(job.name)}
    - if job.messages and job.messages.any?
      %span.error_message
        %pre= job.messages[-2]
    - backtrace = job.info[:backtrace]

%hr

- if backtrace and backtrace.any?
  .row
    .column.twelve
      %ul.error_backtrace.clean_list
        - backtrace.each do |line|
          %li= line
