.row
  .column.twelve
  %h5 Error processing #{File.basename(job.name)}
  - if job.messages and job.messages.any?
    %span.error_message= job.messages[-2]
  - backtrace = job.info[:backtrace]
  - if backtrace and backtrace.any?
    .row
      .column.twelve
        %ul.error_backtrace
          - backtrace.each do |line|
            %li= line
