.error
  %h5 Error on #{format_name File.basename(job.name)}
  - if job.messages and job.messages.any?
    %span.error_message
      %pre= CGI.escapeHTML(job.messages[-1] || "")
  - backtrace = job.info[:backtrace]

  - clean_url = add_GET_param(request.env["REQUEST_URI"], "_update", "clean")
  %a(href=clean_url) Clean

  %hr

  - if backtrace and backtrace.any?
    .row
      .column.twelve
        %ul.error_backtrace.clean_list
          - backtrace.each do |line|
            %li= line
