:markdown

  ##Overview

  This application is designed for the integration of data and functionalities.
  Its design is based on the idea of the `Entity`: anything that can be
  unambiguously identified, and be subject of investigation. Examples of
  entities are: genes, proteins, SNPs, samples, pathways, etc.

  Each entity has a report, which depends on the type of entity it is. All
  reports are computed on the fly and cached. In addition to the main reports,
  entities have `actions`, which are sub-reports that implement particular
  analysis. For instance, for gene entities one of the actions is to display a
  summary of the relevance of that gene across the collection of studies that
  you have access to. In addition to entities, there are reports for lists of
  entities and for entity maps, which are tables that relate entities to
  values, such as genes to their average mutation frequency. 

  ##Important definitions

  Its common to think of coding variants as synonymous or non-synonymous. We
  find that this distinction is slightly inappropriate; a variant might be
  synonymous and still have a consequence in the protein isoform, for instance
  variants affecting exon junctions and that might interfere with splicing.
  Isntead of this nomenclature we prefer to talk about `relevant` and `not
  relevant` variants. Our current definition of `relevant` are variants that
  can potentially alter the function of at least one of the isoforms of a gene;
  this currently includes non-synonymous variants and variants affecting
  splicing sites (-2 to 8 bases of the donor end and -8 to 3 bases of the
  acceptor end).

  ##User interface

  The user interface offers a general structure for all reports that allows to
  enact workflows, explore the results and connect functionalities with one
  another. This web site is 'responsive', meaning that it adapts to the size
  of the device you are using: computer, tablet, or phone. On small devices many
  of the layout elements shift around or get hidden behind toggle buttons to
  accommodate themselves better to the screen size. The examples bellow are taken
  from a computer screen.

=partial_render('help/UI') 

:markdown
  ##Workflows

  In addition to exploring entity reports, this site servers collections of
  core functionalities through the Workflow subsystem. This is the same
  interface that is used as a REST web server, so it serves to document it.

%table
  %caption Available workflows on this site

  %thead
    %tr
      %th Workflow
      %th Description

  %tbody
    - Sinatra::RbbtRESTWorkflow::WORKFLOWS.each do |workflow|
      - next if workflow.asynchronous_exports.empty? and workflow.synchronous_exports.empty? and workflow.exec_exports.empty?
      %tr
        %th
          %a(href="#{'/' << workflow.to_s}")= Misc.humanize(workflow.to_s)
        %td
          - description = workflow.documentation[:description] || ""

          - case
          - when description.empty?
            No description
          - else
            = description.split("\n\n").first

