
.row
  .twelve.column
    %ul.studies.clean
      - if user_studies[user].nil?
        %li You do not have access to any studies
      - else
        - user_studies[user].each do |study|
          %li
            = study.link
