- $wait = true
.row
  .column.small-12
    %h5 Waiting on #{File.basename(job.name)}
    %span.status= job.status

%hr

.row
  .column.twelve
    %ul.step_messages.clean_list
      - job.messages.reverse.each do |line|
        %li= line
