- $wait = true

.wait
  %h5 Waiting on #{format_name File.basename(job.name)}

  %span.status= job.status

  %hr

  %ul.step_messages.clean_list
    - job.messages.reverse.each do |line|
      %li= line
