- entity_list_card = EntityListCard.new list, list_id

- action_controller = ActionController.new(list, list_id)
- action_controller.add :mutation_details, "Details", :reuse => true
- action_controller.add :change_statistics, "Changes", :reuse => true
- action_controller.add :extended_change_statistics, "Extended changes", :reuse => true
- action_controller.add :enrichment, "Enrichment", :reuse => true
- action_controller.add :rainfall_plot, "Rainfall", :reuse => true
- entity_list_card.action_controller = action_controller

- entity_list_card.description do
  %p== #{list.length} mutations.
  = fragment do
    - list_container = ListContainer.new
    - list_container.add "Overlapping genes", list.genes.compact.flatten.uniq
    - list_container.add "Affected genes", list.affected_genes.compact.flatten.uniq
    - list_container.add "Damaged genes", list.damaged_genes.compact.flatten.uniq
    = partial_render('entity_partials/list_container', :container =>  list_container)

= entity_list_card_render entity_list_card


