- entity_list_card = EntityListCard.new list, list_id

- if list.study and TSV === list.study.sample_info and list.study.sample_info.fields.length > 0
  - entity_list_card.description do
    = table do
      - list.study.sample_info.select(list)

- entity_list_card.action_controller = default_action_controller list, list_id

= entity_list_card_render entity_list_card


