- id      = nil unless defined? id
- action  = nil unless defined? action
- klass   = nil unless defined? klass
- method  = 'post' unless defined? method
- enctype = 'multipart/form-data' unless defined? enctype
- info    = {} unless defined? info

- klass = "#{klass} custom"

%form(class=klass action=action method=method id=id enctype=enctype)

  - inputs       = consume_parameter(:inputs, info) || []
  - types        = consume_parameter(:input_types, info) || {}
  - defaults     = consume_parameter(:input_defaults, info) || {}
  - descriptions = consume_parameter(:input_descriptions, info) || {}
  - options      = consume_parameter(:input_options, info) || {}
  - values       = consume_parameter(:values, info) || {}

  - inputs.each do |input|
    - input_id = id.nil? ? nil : id + "__" << input.to_s
    - hide = (options[input] != nil and options[input][:hide])
    %div(class="input #{types[input]} #{hide ? 'hide' : ''}")
      != form_input(input, types[input], defaults[input], values[input], descriptions[input], input_id, options[input])

  .input.submit
    %input(type="submit")
