- table_url = add_GET_param(table_url, "_filter", CGI.escape(filter))
.tsv.ui.wrap.compact.button
  %a(href="#{add_GET_param(table_url, "_format", "tsv")}") tsv
.excel.ui.wrap.compact.button
  %a(href="#{add_GET_param(table_url, "_format", "excel")}") excel
- if heatmap
  .excel.ui.wrap.compact.button
    %a(href="#{add_GET_param(table_url, "_format", "heatmap")}") heatmap
