%li.filter
  = reveal :filter, id do
    - if @filter
      - filter_values = Hash[*@filter.split(";;").collect{|f| f.split("~")}.flatten]
    - else
      - filter_values = {}

    .filters()
      = action_parameters nil, :class => 'filter_controls' do
        - header.each do |field|
          - input field, :string, "Filter for #{ field }", filter_values[field]
