- num, size, field = parse_page(page)
- num = num.to_i
- total_nums = total_size.to_i / size.to_i
- total_nums += 1 if total_size.to_i % size.to_i > 0
- start = [1, num - 2].max
- eend = [total_nums, num + 2].min
.table_pagination.pagination.ui.buttons
  %a.ui.compact.arrow.button.prev(href="#") &laquo;

  %a.ui.compact.arrow.button.next(href="#") &raquo;

  .ui.compact.all.left.labeled.button.labeled_all
    - if page == 'all'
      %a.ui.basic.label(href="#")= total_size 
    - else
      %a.ui.basic.right.pointing.label(href="#")= total_size 
      %a.ui.compact.button.all(href="#") all 

  - if num - 2 > 1
    %a.ui.compact.num.button(href="#") 1

  - if num - 2 > 2
    .ui.compact.disabled.button
      \...

  - (start..eend).each do |p|
    %a.ui.compact.num.button(class="#{p.to_s == num.to_s ? "active" : "" }" href="#")= p

  - if num + 3 < total_nums
    .ui.compact.disabled.button
      \...

  - if num + 2 < total_nums
    %a.ui.compact.num.button(href="#")= total_nums



