- action_card = ActionCard.new do
  - input :subset, :select, "Mutation subset", :all_mutations, :select_options => [:all_mutations, :relevant_mutations, :damaging_mutations]
  - input :k, :integer, "Number of spectra (0 = use BIC)", 0
    
- action_card.require :subset
= action_card_render action_card do
  - selected_mutations = entity.send(subset.to_sym)
  - cohort = {}
  - entity.cohort.each{|g| cohort[g.jobname] = g.subset(selected_mutations)}
  - job = ExomeCohort.job(:em_profile_plots, entity, :cohort => cohort, :organism => entity.organism, :watson => entity.watson, :k => k)
  - job.clean.run
  %img(src="/#{[ExomeCohort.to_s, :em_profile_plots, job.name, 'file', 'factor_profile.png'] * "/"}")
  %img(src="/#{[ExomeCohort.to_s, :em_profile_plots, job.name, 'file', 'sample_profile_activities.png'] * "/"}")
  %img(src="/#{[ExomeCohort.to_s, :em_profile_plots, job.name, 'file', 'sample_profile_assignments.png'] * "/"}")
 
