= serve_js
:javascript
  var production = #{production? ? "true" : "false"};
  start_defferred()

- if @reload_page == 1
  :javascript
    var url = window.location.toString();
    var wait_timeout = 2000;

    function reload(){

      $.ajax({url: add_parameters(url, '_layout=false'), cache:false, 
      success: function(data, stat, req){
        if (req.status == 202){
          $('#content').html(data)
          window.setTimeout(reload, wait_timeout);
        }else{
          window.location = url;
        }
      },

      error:function(jqXHR, status, thrownError){
        if (undefined === jqXHR.responseText || jqXHR.responseText == ''){
          $('#content').html('No response. Server down?')
        }else{
          $('#content').html(jqXHR.responseText)
        }
      }})
    }

    window.setTimeout(reload, wait_timeout);


