= serve_js

:javascript
  var script_name = #{$script_name ? "'" + $script_name + "'"  : "undefined"}

  $('.offcanvas').click(function(e){ 
    if( e.target !== this ) 
      return;
    $(this).toggleClass('show') 
  })

  start_deferred()

  var known_types = #{Entity::REST::REST_ENTITIES.collect{|m| m.to_s}.to_json}

- if @reload_page 
  :javascript
    var wait_timeout = 2000;
    var url = main_url

    function reload(){

      $.ajax({url: add_parameters(main_url, '_layout=false'), cache:false, 
      success: function(data, stat, req){
        if (req.status == 202){
          $('#content').html(data)
          update_rbbt()
          window.setTimeout(reload, wait_timeout);
        }else{
          window.location = main_url;
        }
      },

      error:function(jqXHR, status, thrownError){
        if (undefined === jqXHR.responseText || jqXHR.responseText == ''){
          $('#content').html('No response. Server down?')
        }else{
          $('#content').html(jqXHR.responseText)
        }
        update_rbbt()
      }})
    }

    window.setTimeout(reload, wait_timeout);

