:sass 
  #footer
    transition: all 0.3s
    &:not(:hover)
      opacity: 0.1
      filter: blur(3px) grayscale(100%)

    .content
      display: block
    .header, .description
      span
        display: block

    .header
      height: 3em
      span:last-child
        font-style: italic
        font-weight: normal

    .description
      span.group
        font-style: italic


    color: grey
    .image
      height: 120px
      img
        width: 100%
      a.ntnu
        display: inline-block
        margin-top: 30px
.ui.segment.stackable.bottom.attached.grid.three.column
  .ui.column
    = partial_render('partials/footers/bsc')
  .ui.column
    = partial_render('partials/footers/ntnu')
  .ui.column
    = partial_render('partials/footers/cnio')
-#.ui.segment
  .image
    %a(href="http://www.cnio.es/")
      %img(src="/file/cnio.png" height='115px' width='241px')
  .content
    .ui.header
      CNIO. Centro Nacional de Investigaciones Oncologicas (Spanish National Cancer Research Center)
    .description
      %span.group Structural Computational Biology Group
      %br/
      %span.address   C/ Melchor Fernandez Almagro, 3, E-28029 Madrid
    .meta.contact
      %span.who miguel.vazquez
      %span.where cnio.es
