.ui.segment
  .image
    %a(href="http://www.cnio.es/")
      %img(src="/file/cnio.png" height='115px' width='241px')
  .content
    .ui.header
      CNIO. Centro Nacional de Investigaciones Oncologicas (Spanish National Cancer Research Center)
    .description
      %span.group Structural Computational Biology Group
      %br/
      %span.address   C/ Melchor Fernandez Almagro, 3, E-28029 Madrid
    .meta.contact
      %span.who miguel.vazquez
      %span.where cnio.es
