%nav.top-bar

  %ul.title-area 
    %li.name
      %h1
        %a(href="/")= $title || "Genome Scout"

    %li.toggle-topbar.menu-icon
      %a(href="#")
        %span
          Menu

  %section.top-bar-section

    %ul.left
      %li
        %a#reload_page(href="#")
          %i.general.foundicon-refresh.hide-for-small
          %span.show-for-small
            Reload page

      %li.search.has-form
        %form.collapse(action='/find' method="POST")
          %input(type="text" name="term")
          %button.secondary.radius.button(type="submit") Search
 
      - if user
        %li#top-add-favourite
          %a#toggle_favourite.inactive
            %i.general.foundicon-star.hide-for-small
            %span.add.show-for-small
              Add to Favourites
            %span.remove.show-for-small
              Remove from Favourites

        = partial_render('layout/favourites')

