#find_wrapper

%nav.top-bar

  %ul
    %li.name
      %a(href="/")= $title || "Genome Explorer"

    %li.toggle-topbar(href="#")
      %a(href="#")

  %section

    %ul.left
      %li
        %a#reload_page(href="#")
          %i.general.foundicon-refresh.hide-for-small
          %span.show-for-small
            Reload page

      %li.search
        %form.collapse(action='/find' method="POST")
          %input(type="text" name="term" style="padding:1px")
          %button.secondary.radius.button(type="submit" style="padding: 4px 12px 4px") Search
      - if user
        %li#top-add-favourite
          %a#toggle_favourite.inactive
            %i.general.foundicon-star.hide-for-small
            %span.add.show-for-small
              Add to Favourites
            %span.remove.show-for-small
              Remove from Favourites

        = partial_render('layout/favourites')

