%nav.top-bar

  %ul
    %li.name
      %a(href="/")= $title || "Genome Explorer"

    %li.toggle-topbar(href="#")
      %a(href="#")

  %section

    %ul.left
      %li
        %a#reload_page(href="#")
          %i.general.foundicon-refresh.hide-for-small
          %span.show-for-small
            Reload


      - if user
        %li#top-add-favourite
          %a#add_favourite
            %i.general.foundicon-star.hide-for-small
            %span.show-for-small
              Add to Favourites

        %li.divider
 
        = partial_render('layout/favourites')
