:sass
  #top_menu
    .favourite
      width: 100%
    & > .dropdown
      display: inline-block !important
      min-width: 10em
    & > .favourite > .dropdown, & > .favourite > .item.pointer
      display: inline-block !important

#top_menu.ui.fixed.menu
  %a.header.item(href='/')= $title

  %span.favourite

  - if settings.respond_to?(:finder) and settings.finder and settings.finder.instances.any?
    .finder.right.item
      %form.collapse(action='/find' method="POST")
        %input(type="search" name="term" placeholder='Search')

  - if defined? Sinatra::RbbtRESTWorkflow and Sinatra::RbbtRESTWorkflow::WORKFLOWS
    - expoted_workflows = Sinatra::RbbtRESTWorkflow::WORKFLOWS.collect do |workflow|
      - next if workflow.asynchronous_exports.empty? and workflow.synchronous_exports.empty? and workflow.exec_exports.empty?
      - workflow

    - expoted_workflows.compact!
    - if expoted_workflows.any?
      .ui.dropdown.item.right
        %i.icon.dropdown
        Workflows
        .menu
          - expoted_workflows.each do |workflow|
            %a.item(href='#{'/' + workflow.to_s}')= workflow.to_s


  %a.item.login.right(href='/login')
    %i.icon.user
    - if user
      = user

  %a.item.right(href='/help') Help

  %a.item.reload(href='#')
    %i.icon.repeat

