%a.title.item(href='/')= $title

%span.favourite

%a.item.reload.right(href='#')
  %i.icon.repeat

%a.item.login.right(href='/login')
  %i.icon.user
  - if user
    = user

%a.item.right(href='/help') Help

- if defined? Sinatra::RbbtRESTWorkflow and Sinatra::RbbtRESTWorkflow::WORKFLOWS
  - expoted_workflows = Sinatra::RbbtRESTWorkflow::WORKFLOWS.collect do |workflow|
    - next if workflow.asynchronous_exports.empty? and workflow.synchronous_exports.empty? and workflow.exec_exports.empty?
    - workflow

  - expoted_workflows.compact!
  - if expoted_workflows.any?
    .ui.dropdown.item.right
      %i.icon.dropdown
      Workflows
      .menu
        - expoted_workflows.each do |workflow|
          %a.item(href='#{'/' + workflow.to_s}')= workflow.to_s

- if settings.respond_to?(:finder) and settings.finder and settings.finder.instances.any?
  .finder.right.item
    %form.collapse(action='/find' method="POST")
      %input(type="search" name="term" placeholder='Search')
