%a(href="?_format=binary") Download

- if job
  - extension = job.path.split(".").last
  - if extension == 'png' or extension == 'jpg'
    .figure
      %img(src="?_format=binary" style="max-width:100%")
