%dl
  %dt Job control
  %dd.job_control
    %ul
      %li
        %a(href="/#{[workflow, task, jobname] * "/"}?_update=clean") clean
      %li
        %a(href="/#{[workflow, task, jobname, "info"] * "/"}") info
      %li
        %a(href="/#{[workflow, task, jobname] * "/"}?_format=raw") raw

  - if job.files.any?
    %dt Files
    %dd
      %ul
        - job.files.each do |file|
          %li
            %a(href="/#{[workflow, task, jobname, "file", file] * "/"}")= file
