- table_id = [workflow.to_s, task, jobname] * "_"
- table_class = 'workflow_tsv_result'
- rows, total_size = tsv_rows(result)
- header = result.all_fields

= workflow_partial('partials/table', workflow, task, 
  locals.merge(:table_id => table_id, :table_class => table_class, :rows => rows, :total_size => total_size, :header => result.all_fields, :row_ids => :use, :table_url => File.join('/', workflow.to_s, task, jobname)))
