= action_card_render ActionCard.new do
  = table do
    - counts = Misc.counts(list.collect{|l| [l.reference, l.base] * ">" })
    - TSV.setup(counts, :key_field => "Change", :fields => ["Count"], :type => :single, :cast => :to_i)
    - counts
