.image
  %a(href="http://www.bsc.es/")
    %img(src="/file/bsc.svg")
.content
  .ui.header
    :sass
      span.bsc
        font-weight: bold
      span.cns
        font-style: italic
        font-weight: normal
        
    %span.bsc Barcelona Supercomputing Center
    %span.cns Centro Nacional de Supercomputaci&oacute;n

  .description
    %span.group Genome Informatics Unit
    %span.address  Nexus II Building. C/ Jordi Girona, 29. 08034 Barcelona (Spain)

  .meta.contact
    %span.who miguel.vazquez.g
    %span.at_addr bsc.es
