.image
  %a(href="http://www.cnio.es/")
    %img(src="/file/cnio-stop-cancer.svg")
.content
  .ui.header
    %span.eng Spanish National Cancer Research Center
    %span.cnio Centro Nacional de Investigaciones Oncol&oacute;gicas 
  .description
    %span.group Structural Computational Biology Group
    %span.address   C/ Melchor Fernandez Almagro, 3, E-28029 Madrid
  -#.meta.contact
    %span.who miguel.vazquez
    %span.at_addr cnio.es
