.image
  %a(href="http://www.ntnu.no/")
    %img(src="/file/ntnu.png")
.content
  .ui.header
        
    %span.ntnu Norwegian University of Science and Technology

  .description
    %span.group Department of Clinical and Molecular Medicine
    %span.address Prinsesse Kristinasgt. 1, Gastrosenteret 3. floor. Trondheim (Norway)

  .meta.contact
    %span.who miguel.vazquez
    %span.at_addr ntnu.no
